<div class="col-md-6 " id="userEdit">
  <h1>Editar Usuario</h1>
  <div *ngIf="alertRegister"> 
    <div class="alert alert-info" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <form #registerForm class="col-md-10" (ngSubmit)="onSubmit()" >
      <p>
        <label>Nombre:</label>
        <input type="text" class="form-control"  #name="ngModel" [(ngModel)]="userEdit.name" name="nombre" require>
        <span *ngIf="!name.valid && name.touched"> El nombre es obligatorio </span>
      </p>
      <p>
        <label>Apellido:</label>
        <input type="text" class="form-control" #surname="ngModel" [(ngModel)]="userEdit.surname" name="apellido" require>
      </p>
      <p>
        <label>Correo Electronico:</label>
        <input type="text" class="form-control" #email="ngModel" [(ngModel)]="userEdit.email" name="email" require>
        <span *ngIf="!email.valid && email.touched"> El email es obligatorio </span>
      </p>
      <p>
        <label >Contraseña:</label>
        <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userEdit.password" name="password" required>
        <span *ngIf="!password.valid && password.touched"> El password es obligatorio </span>
      </p>
      <div class="image_for_edit" *ngIf="userEdit.image && userEdit.image != 'null' ">
        <img src="{{url}}getUserImage/{{userEdit.image}}" width="40" height="40"/>
      </div>
      <p>
        <label >Foto de Perfil</label>
        <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
      </p>
      <input type="submit" value="Editar" class="btn btn-primary">
  </form>
</div>