<nav class="navbar navbar-light navbar-expand-lg bg-light" *ngIf="isAuth()">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="#containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#" class="navbar-brand">Musify</a>
  <div class="collapse navbar-collarpse" id="containerNavbar">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      <li class="nav-item">
        <button class="btn btn-primary float-md-right">Cerrar Sessión</button>
      </li>
    </ul>    
  </div>

</nav>