<div class="ArtistComponent">
 
  <div id="artistData">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{url}}getArtistImage/{{artist.image}}" width="150" height="150" style="border-radius: 10px;">
        </div>
        <div class="col-sm-5">
            <h3>{{artist.name}}</h3>
            <h5>{{artist.description}}</h5>
            <a class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i>Editar Artist</a>
            <a class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i>Eliminar</a>
        </div>
    </div>
   
  </div>
  
  <div class="albums">
    <span *ngIf="!messageAlbum">{{messageAlbum}}</span>
    <div class="row" >
      <div class="col-sm-3" *ngFor="let album of albums">
        <img src="{{url}}/getAlbumImage/{{album.image}}" width="140" height="140">
        <p>{{album.title}}</p>
      </div>     
    </div>
  </div>

</div>